// Home

.section-title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 75px;
    font-family: $heading-font;
}

section.intro {
    width: 100%;
    height: 100%;
    background: url('https://farm8.staticflickr.com/7485/15903514242_836363f7aa_o.jpg') center;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    font-family: $heading-font;


    .content {
        @include vertical-align();
        text-align: center;
        line-height: 1;

        .name {
            font-size: 38px;
            letter-spacing: 9px;
        }
        .tagline {
            font-size: 20px;
            letter-spacing: 5px;
        }
        .loc {
            font-size: 20px;
            letter-spacing: 5px;
        }
    }
}

section.work {
    overflow: hidden;

    .module {
        float: left;
    }

    .label {
        display: inline-block;
        background-color: $dark-grey;
        padding: 6px 12px;
        font-family: $heading-font;
        font-size: 30px;
        color: #fff;
        position: absolute;
        opacity: 0;
    }

    .top-wide {
        width: 55%;
        height: 300px;
        background-color: #2bb673;
    }
    .top-medium {
        width: 45%;
        height: 300px;
        background: url('../img/todo.gif') center;
        background-size: contain;
        
        &:hover .label {
            opacity: 1;
        }

        .label {
            right: 3em;
            top: 1.7em;
        }
    }
    .lower-tall {
        height: 450px;
        width: 25%;
        background: url('../img/nowyouseeme.jpg') center;
        background-size: contain;

        &:hover .label {
            opacity: 1;
        }

        .label {
            bottom: 0.5em;
            left: 1em;
        }
    }
    .mid-wide {
        width: 75%;
        height: 225px;
        background: url('../img/griffith.jpg') center;
        background-size: cover;

        &:hover .label {
            opacity: 1;
        }

        .label {
            left: 1em;
            top: 1em;
        }
    }
    .lower-medium {
        width: 50%;
        height: 225px;
        background: url('../img/rescomp.jpg') center;
        background-size: contain;

        &:hover .label {
            opacity: 1;
        }

        .label {
            right: 1em;
            bottom: 1em;
        }
    }
    .lower-small {
        width: 25%;
        height: 225px;
        background: url('../img/justright.png') center;
        background-size: cover;

        &:hover .label {
            opacity: 1;
        }

        .label {
            left: 0.5em;
            top: 0.5em;
        }
    }

}

section.contact {
    text-align: center;
    margin-bottom: 50px;

    /*i {
        margin-right: 40px; 
    }*/

    .contact-links li {
        display: inline-block;
        margin-right: 40px;
    }

    .contact-links li a{
        display: block;
        /*width: 68px;
        height: 70px;*/
        margin: 0 2px;
        outline: none;
        position: relative;
    }

    .contact-links li a span{
        width: 100px;
        height: auto;
        line-height: 20px;
        padding: 10px;
        left: 50%;
        margin-left: -50px;
        /*font-family: 'Alegreya SC', Georgia, serif;*/
        font-size: 14px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        border: 4px solid #fff;
        background: rgba(255,255,255,0.3);
        text-indent: 0px;
        border-radius: 5px;
        position: absolute;
        pointer-events: none;
        bottom: 100px;
        opacity: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        transition: all 0.3s ease-in-out;
    }

    .contact-links li a span:before,
    .contact-links li a span:after{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,0.1);
    }

    .contact-links li a span:after{
        bottom: -14px;
        margin-left: -10px;
        border-top: 10px solid #fff;
    }

    .contact-links li a:hover span{
        opacity: 0.9;
        bottom: 70px;
    }
}