// Home

.section_title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  font-family: $heading-font;
}

.work_title {
  margin: 75px;
}

.contact_title {
  margin: 75px 0 30px 0;
}

.intro {
  width: 100%;
  height: 100%;
  // background-color: $intro-background;
  background-image: url('../img/introdark.jpg');
  background-size: cover;
  background-position: 35%;
  color: #fff;
  font-family: $heading-font;
}

.intro_content {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%));
  font-size: 30px;
}

.intro-social-link {
  text-transform: uppercase;
  color: #fff;
}

.work {
  overflow: hidden;
}

.project {
  float: left;
  width: 100%;
  margin-bottom: 30px;

  @media only screen and (min-width: 600px) {
    width: 50%;
    margin-bottom: 0;
  }
}

.proj_image {
  display: block;
  max-width: 100%;
}

.proj_info_wrapper {
  padding: 10px;

  @media only screen and (min-width: 600px) {
    position: absolute;
    top: 0;
    padding: 0;
  }
}

.proj_info {
  color: $dark-grey;
  font-family: $heading-font;
  text-align: center;

  @media only screen and (min-width: 600px) {
    z-index: 2;
    display: table-cell;
    width: 650px;
    height: 370px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }
  
  &:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.proj_name {
  font-size: 30px;
}

.contact {
  clear: both;
}

.contact_links {
  text-align: center;

  a {
    color: $dark-grey;
    @include prefix(transition, ease 0.3s);
    &:hover {
      color: #000;
    }
  }
}

.contact_link_icon {
  display: inline-block;
  margin-right: 20px;
  font-size: 5em;

  &:last-of-type {
    margin-right: 0;
  }
}