// main.scss

/*  Resets  */
@import "vendors/meyer-reset";

@import "variables";
@import "base";
@import "mixins";

/*  Modules & Pages  */
@import "header";
@import "home";
@import "about";


/*  Credit: www.fontfabric.com  */
@font-face {
  font-family: 'Socialico';
  src: url('/public/css/fonts/Socialico.otf') format('otf'),
}

@font-face {
  font-family: 'Socialico Plus';
  src: url('/public/css/fonts/SocialicoPlus.otf') format('otf');
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  height: 100%;
}

.sub-container {
  max-width: 1400px;
  overflow: hidden;
  margin: 75px auto 0 auto;
}

.section-container {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 75px;
}

.wide-container {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 75px;
}

[role=main] {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.icon {
  font-family: 'Socialico';
}

.iconplus {
  font-family: 'Socialico Plus';
}