// main.scss

/*  Font Stacks  */
$heading-font: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$body-font: 'Open Sans', sans-serif;

/*  Colors  */
$dark-grey: #343434;
$accent: #42dca3;
$light-accent: lighten($accent, 30%);

/*  Resets  */
@import "vendors/meyer-reset";
@import "base";

/*  Mixins  */
@import "mixins";

/*  Modules & Pages  */
@import "header";
@import "home";
@import "about";


/*  Credit: www.fontfabric.com  */
@font-face {
  font-family: 'Socialico';
  src: url('/public/css/fonts/Socialico.otf') format('otf'),
}

@font-face {
  font-family: 'Socialico Plus';
  src: url('/public/css/fonts/SocialicoPlus.otf') format('otf');
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    height: 100%;
}

.sub-container {
    max-width: 1200px;
    overflow: hidden;
    margin: 75px auto 75px auto;
}