// main.scss

/*  Resets  */
@import "vendors/meyer-reset";

@import "variables";
@import "base";
@import "mixins";

/*  Modules & Pages  */
@import "header";
@import "home";
@import "about";
@import "work";

/*  Credit: www.fontfabric.com  */
@font-face {
  font-family: 'Socialico Plus';
  src: url('/css/fonts/socialico_plus-webfont.eot');
  src: url('/css/fonts/socialico_plus-webfont.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/socialico_plus-webfont.woff2') format('woff2'),
       url('/css/fonts/socialico_plus-webfont.woff') format('woff'),
       url('/css/fonts/socialico_plus-webfont.ttf') format('truetype'),
       url('/css/fonts/socialico_plus-webfont.svg#socialico_plusregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Socialico';
  src: url('/css/fonts/socialico-webfont.eot');
  src: url('/css/fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/socialico-webfont.woff2') format('woff2'),
       url('/css/fonts/socialico-webfont.woff') format('woff'),
       url('/css/fonts/socialico-webfont.ttf') format('truetype'),
       url('/css/fonts/socialico-webfont.svg#socialicoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

a {
  text-decoration: none;
  color: #000;
}

.container {
  height: 100%;
}

.sub-container {
  max-width: 1400px;
  overflow: hidden;
  margin: 75px auto 0 auto;
  padding-top: 30px;
}

.section-container {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 75px;
}

.body-content {
  max-width: 900px;
  margin: 0 auto;
}

p {
  margin: 30px auto 50px auto;
  max-width: 675px;
  text-align: left;
}

.wide-container {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 75px;
}

[role=main] {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.icon {
  font-family: 'Socialico';
}

.iconplus {
  font-family: 'Socialico Plus';
}