/*  Font Stacks  */
$heading-font: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$body-font: 'Open Sans', sans-serif;

/*  Colors  */
$dark-grey: #343434;
$accent: #42dca3;
$light-accent: lighten($accent, 30%);
$intro-background: $accent;