<div class="ig-stream">
  <div class="ig-photo">
    <a href="https://instagram.com/p/6xkQWVQSxF/" target="_blank"><img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11906322_907565056003364_1455363167_n.jpg"></a>
  </div>
  <div class="ig-photo">
    <a href="https://instagram.com/p/6tDTpzwS40/" target="_blank"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/11850359_723910834420072_1891135051_n.jpg">
  </div>
  <div class="ig-photo">
    <a href="https://instagram.com/p/6IcrSfQS_2/" target="_blank"><img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11809893_447526752087165_825766627_n.jpg">
  </div>
  <div class="ig-photo">
    <a href="https://instagram.com/p/5VbFe7wS1-/" target="_blank"><img src="https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11420951_1460357204286574_1632948828_n.jpg"></a>
  </div>
  <div class="ig-photo">
    <a href="https://instagram.com/p/4iqX44wS4I/" target="_blank"><img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11355221_458805837628884_1493695492_n.jpg"></a>
  </div>
</div>

<section role="main" class="about">
  <div class="main-content">
    <h2>About Me</h2>
    <p class="about-me">
      Hi! I'm Allison, a third-year <a class="link" href="http://www.cs.berkeley.edu/">Computer Science</a> student at UC Berkeley with a focus on design and web development. I'm trigger happy with a camera in hand, and I'm a firm believer that eating is one of life's greatest pleasures. This past summer, I worked as a Software Developer Intern at <a class="link" href="http://spokeo.com">Spokeo</a>, and previously I was the Web Designer for <a class="link" href="http://rescomp.berkeley.edu/">Residential Computing</a>. 
    </p>
    <ul class="contact-links">
      <li class="iconplus"><a href="https://github.com/allisonyee">z</a></li>
      <li class="icon"><a href="http://www.linkedin.com/in/yeeallison">i</a></li>
      <li class="icon"><a href="http://twitter.com/_allicorinne">l</a></li>
      <li class="iconplus"><a href="https://instagram.com/_allicorinne/">i</a></li>
      <li class="iconplus"><a href="mailto:alcyee@berkeley.edu">m</a></li>
    </ul>
  </div>

  <div class="sidebar">
    <h3>Skills</h3>
    <h4>Web Development</h4>
    <ul class="skills">
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>Angular JS</li>
      <li>Rails</li>
      <li>PHP</li>
    </ul>
    <h4>Programming</h4>
    <ul class="skills">
      <li>Python</li>
      <li>Ruby</li>
      <li>Java</li>
    </ul>
    <h4>Design</h4>
    <ul class="skills">
      <li>Photoshop</li>
      <li>Illustrator</li>
      <li>InDesign</li>
      <li>Wireframing</li>
      <li>Prototyping</li>
    </ul>
  </div>
</div>
