<div class="ig-stream">
    <div class="ig-photo">
        <a href="https://instagram.com/p/zLtujRQSwa/" target="_blank"><img src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/10919316_1537220509875035_45422308_n.jpg"></a>
    </div>
    <div class="ig-photo">
        <a href="https://instagram.com/p/yu1qRfQS0U/" target="_blank"><img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/10958208_670383986405045_509626240_n.jpg">
    </div>
    <div class="ig-photo">
        <a href="https://instagram.com/p/yStRipwS38/" target="_blank"><img src="https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/10890511_1588815961349230_396435391_n.jpg">
    </div>
    <div class="ig-photo">
        <a href="https://instagram.com/p/x_BN01QS_P/" target="_blank"><img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/10903612_801092289926028_1753022100_n.jpg"></a>
    </div>
    <div class="ig-photo">
        <a href="https://instagram.com/p/xkz8PiwS_R/" target="_blank"><img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/10899578_703852086395450_1441131171_n.jpg"></a>
    </div>
</div>

<div class="sub-container">
    <div class="main-content">
        <h2>About Me</h2>
        <p class="about-me">
            Hi! I'm Allison, a second-year <a class="link" href="http://www.cs.berkeley.edu/">Computer Science</a> student at UC Berkeley with a focus on design and front-end development. I love fashion, food, and <a class="link" href="http://instagram.com/_allicorinne">photography</a>. Currently, I work as the Web Designer for <a class="link" href="http://rescomp.berkeley.edu/">Residential Computing</a>. 
        </p>
        <ul class="contact-links">
            <li class="iconplus"><a href="https://github.com/allisonyee">z</a></li>
            <li class="icon"><a href="http://www.linkedin.com/in/yeeallison">i</a></li>
            <li class="icon"><a href="http://twitter.com/_allicorinne">l</a></li>
            <li class="icon"><a href="https://www.behance.net/allisonyee">e</a></li>
            <li class="iconplus"><a href="https://instagram.com/_allicorinne/">i</a></li>
            <li class="iconplus"><a href="mailto:alcyee@berkeley.edu">m</a></li>
        </ul>
    </div>

    <div class="sidebar">
        <h3>Skills</h3>
        <h4>Web Development</h4>
        <ul class="skills">
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Angular JS</li>
        </ul>
        <h4>Programming</h4>
        <ul class="skills">
            <li>Python</li>
            <li>Java</li>
        </ul>
        <h4>Design</h4>
        <ul class="skills">
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>InDesign</li>
            <li>Wireframing</li>
            <li>Prototyping</li>
        </ul>
    </div>
</div>
