{% extends "/views/base.html" %}
{% block main %}
<div class="hero">
  <div class="title"><img class="hero--title" src="{{g.static('/source/images/name.png').url.path}}"></div>
  <div class="hero--subtitle">{{doc.hero.subtitle|safe}}</div>
  <a href="#work" class="button button--accent-one">Work</a>
  <a href="/blog" class="button button--accent-two">Blog</a>
</div>

<ul class="projects">
{% for project in g.docs('projects', order_by='order') %}
  <li class="project">
    <img src="{{g.static(project.thumbnail).url.path}}">
  </li>
{% endfor %}
<ul>
{% endblock %}