<section class="intro">
  <div class="intro_content">
    Designer & developer.<br>
    Wears too much striped clothing.</br>
    Shutter happy.
  </div>
</section>

<section role="main">

  <h2 class="section_title work_title">Work</h2>

  <section class="work">
    <a href="https://www.dropbox.com/s/oxhlfk2cl3xlwzh/Rescomp.pdf?dl=0"><div class="project">
      <img class="proj_image" src="../img/rescomp.jpg">
      <div class="proj_info_wrapper">
        <div class="proj_info">
          <div class="proj_name">Residential Computing</div>
          <div class="proj_category">Web Development</div>
        </div>
      </div>
    </div></a>
    <a ui-sref="workDetail({ name: 'graphicdesign' })"><div class="project">
      <img class="proj_image" src="../img/graphicdesign.jpg">
      <div class="proj_info_wrapper">
        <div class="proj_info">
          <div class="proj_name">Movie Poster</div>
          <div class="proj_category">Graphic Design</div>
        </div>
      </div>
    </div></a>
    <a href="http://allisonyee.com/checkit" target="_self"><div class="project">
      <img class="proj_image" src="../img/todo.gif">
      <div class="proj_info_wrapper">
        <div class="proj_info">
          <div class="proj_name">To-Do App</div>
          <div class="proj_category">Web Development</div>
        </div>
      </div>
    </div></a>
    <a href="https://allisonyee.exposure.co/nyc-day-1"><div class="project">
      <img class="proj_image" src="../img/newyork.jpg">
      <div class="proj_info_wrapper">
        <div class="proj_info">
          <div class="proj_name">New York</div>
          <div class="proj_category">Photo Diary</div>
        </div>
      </div>
    </div></a>
  </section>

  <section class="contact">
    <h2 class="section_title contact_title">Contact</h2>
    
    <ul class="contact_links">
      <li class="contact_link_icon iconplus"><a href="https://github.com/allisonyee">z</a></li>
      <li class="contact_link_icon icon"><a href="http://www.linkedin.com/in/yeeallison">i</a></li>
      <li class="contact_link_icon icon"><a href="http://twitter.com/_allicorinne">l</a></li>
      <li class="contact_link_icon iconplus"><a href="https://instagram.com/_allicorinne/">i</a></li>
      <li class="contact_link_icon iconplus"><a href="mailto:alcyee@berkeley.edu">m</a></li>
    </ul>
  </section>

</section><!-- main -->

<!-- <script src="../js/libs/jquery.waypoints.min.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
