{% extends "/views/base.html" %}
{% block main %}
<section class="home">

<section class="hero">
  <div class="hero--title">
    Allison Yee
    <!-- {% include "/views/_title_svg.html" %} -->
    <!-- <img class="hero--title" src="{{g.static('/source/images/name.png').url.path}}"> -->
  </div>
  <div class="hero--subtitle">{{doc.hero.subtitle|safe}}</div>
</section>

<section class="work">
  <ul class="projects grid">
  {% for project in g.docs('projects', order_by='order') %}
    <li class="project">
      <img src="{{g.static(project.thumbnail).url.path}}">
      <div class="project--detail">
        <div class="project--name">{{project.title}}</div>
        <div class="project--categories">{{project.cat}}</div>
        <a class="button--project" href="{{project.url.path}}" data-project="{{project.body_class}}">Read more</a>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

</section>


{% endblock %}