.button {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  padding: 7px 0;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  vertical-align: text-bottom;

  &--accent-one {
    background-color: $accent-blue;
  }

  &--accent-two {
    background-color: $accent-peach;
  }

  &:last-of-type {
    margin-right: 0;
  }
}