.hero {
  margin-top: -50px;
  padding: 50px 0;
  background: #606c88;
  background: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); 
  background: linear-gradient(to left, #606c88 , #3f4c6b); 
  color: #fff;
  text-align: center;

  &--title {
    margin-top: 30px;
    width: 450px;
  }

  &--subtitle {
    max-width: 400px;
    margin: 0 auto 20px auto;
    font-weight: 300;
    text-align: left;
    line-height: 1.4;
  }
}

ul.projects {
  list-style: none;
  text-align: center;
}
li.project {
  display: inline-block;
  width: 440px;
  padding: 20px;

  img {
    width: 400px;
  }
}