.project--header {
  height: 500px;
  background-size: cover;
  background-position: center;

  &.buddy-watch {
    background-image: url('/static/images/buddy_watch/header.jpg');
  }
  &.owl {
    background-image: url('/static/images/owl/header.jpg');
  }
  &.lightbox {
    background-image: url('/static/images/lightbox/header.jpg');
  }
  &.blinkk {
    background-image: url('/static/images/blinkk/header.jpg');
  }
}

.project--title {
  display: inline-block;
  margin: 40px 20px 10px 0;
  font-size: 36px;
}

.button {
  background-color: #CCCCCC;
  &--buddy-watch {
    background-color: #A4DA13;
  }
}

.project--detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #fff;
}

.project--name {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}

.project--categories {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button--project {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.project--body {
  max-width: 680px;
  margin: 40px auto;
  line-height: 1.5;
  font-size: 18px;

  a {
    color: #333333;
  }

  img {
    max-width: 100%;
  }
}