<div class="sub-container graphicdesign">
    <div class="body-content">
      <h2 class="work-title">Buddy Watch</h2>
      <p>During the Fall 2015 semester, I had the opportunity of working with Buddy Watch, a safety/companion app for walking home alone, to design their mobile app UI. My team and I went through the process of conducting interviews, creating low and mid fidelity mockups, and holding user tests. The high fidelity mockups are still in progress. As a college student, it was a really motivating experience being able to design for a product that is so relevant to my life. Walking home alone at night is a concern every college student faces, and we learned a lot while researching and designing for Buddy Watch.</p>
    </div>
    <img class="work-item-tall" src="/img/bw1.png">
    <img class="work-item-tall" src="/img/bw2.png">
    <img class="work-item-tall" src="/img/bw3.png">
    <img class="work-item-tall" src="/img/bw4.png">
    <img class="work-item-tall" src="/img/bw5.png">
    <img class="work-item-tall" src="/img/bw6.png">
    <img class="work-item-tall" src="/img/bw8.png">
</div>