<div class="sub-container">
  <div class="body-content">
    <div class="work-info">
      <h2 class="work-title">Residential Computing</h2>
      <a href="http://www.rescomp.berkeley.edu/" class="btn">VISIT SITE</a>
    </div>
    <p> Working at ResComp was a very unique experience, and I learned a lot from my one year there. It was my first time working on a website that had so much content spread over so many pages. The Marketing team and I had high expectations for what we wanted to transform the ResComp brand and website into, but I knew that rolling out an entire new design would be impossible by the end of summer, when I was still getting acquainted to the code and how everything was organized.</p>

    <p>Designing individual pages was challenging as I had to keep in mind how it would fit in with the flow of the rest of the dated website. For my summer project, I started off with a redesign of the homepage with the goal of making it more useful and approachable to viewers.</p>

    <img src="/img/rescomp/home.jpg">

    <p>After redesigning a few more pages and rolling out a new header and footer, I began taking less caution and designing pages to be even more modern.</p>

    <h3 class="sub-title">Header v2</h3>
    <img src="/img/rescomp/header_v2.jpg">

    <h3 class="sub-title">Footer v2</h3>
    <img src="/img/rescomp/footer_v2.jpg">

    <h2 class="section-title">RCC Hiring</h2>
    <img src="/img/rescomp/rcc.jpg">

    <h2 class="section-title">Takeaways</h2>

    <p>The results of my redesigns were positive and each satisfied its individual goal. However, the design of the overall site is still quite inconsistent as a result of changing the design iteratively with each page. At this point, I would create a style guide for the website as well as use a 12-column grid layout on all pages in order to start making the website more cohesive - but that is now up to the new Web Designer!</p>   
  </div>
</div>