<div class="sub-container">
  <div class="body-content">
    <div class="work-info">
      <h2 class="work-title">Spokeo Blog</h2>
      <a href="http://www.spokeo.com/blog" class="btn">VISIT SITE</a>
    </div>
    <img src="/img/spokeo_blog.png">
    <p>During my summer internship at Spokeo, I got to work on a variety of different projects, including developing the UI for the Spokeo Blog, writing a script to "warm the cache" and speed up Spokeo after deployment, and a celebrity lookalike webapp.</p>

    <p>Though I wasn't new to writing HTML, CSS, or PHP for WordPress, I learned a lot while developing the blog UI. Because the design was an extension of main Spokeo site, the majority of styles could be reused, but the SASS that I did write was expected to follow the same style guide for performance optimization and avoid any nested styles. You can read the tech post that I wrote over at Spokeo on <a class="link" target="_blank" href="http://www.spokeo.com/tech/2015/07/08/updating-spokeo-blog-ui/">Updating Spokeo Blog UI with WordPress</a>.</p>

    <h2 class="section-title">Celebrity Lookalikes</h2>
    <img src="/img/spokeo_celeb.png">

    <p>Our facial recognition project was incredibly fun and also a great learning experience. After doing extensive research, my partner and I tested a couple of different facial recognition APIs. Our challenge was finding a service that could handle training Spokeo's huge database of celebrity photos and querying the training set in order to find the top three closest matches to an input photo.</p>   

    <p>We developed a working demo using Rails and Angular JS. The accuracy and speed of the app didn't quite meet our expectations, but I hope that Spokeo can build off the work from this project to help develop their own facial recognition feature.</p>
  </div>
</div>